@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
}
body.scrolled header {
  position: fixed;
  width: 100%;
  padding: 0 25px;
  z-index: 9999;
  margin-top: 15px;
  transition: 0.2s ease-in;
}
body.scrolled header nav {
  background: #fff;
  padding: 5px 15px;
  border-radius: 100px;
  min-height: 50px;
  box-shadow: 1px 0 20px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 678px) {
  body.scrolled header {
    position: relative;
  }
  body header .nav-menu {
    position: fixed;
    bottom: 35px;
    width: 100%;
    left: 0;
    color: #fff;
  }
  body header .nav-menu ul {
    justify-content: center;
    background-color: #0c4237;
    padding: 10px;
    border-radius: 100px;
    margin: 0 10px;
    font-size: 14px;
  }
  .footer-bottom {
    padding-bottom: 100px;
  }
}
.step .img {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.step .active0 .img {
  background-image: url("https://images.pexels.com/photos/3183188/pexels-photo-3183188.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.step .active1 .img {
  background-image: url("https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.step .active2 .img {
  background-image: url("https://images.pexels.com/photos/1181673/pexels-photo-1181673.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.step .active3 .img {
  background-image: url("https://images.pexels.com/photos/5082579/pexels-photo-5082579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.step .active4 .img {
  background-image: url("https://images.pexels.com/photos/3183148/pexels-photo-3183148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.list-service li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #bdbdbd;
  top: 25px;
  transform: translateX(15px);
  z-index: -1;
}
.list-service svg {
  fill: #fff;
}
.list-service .active .icon {
  background-color: #0c4237;
}
/* .list-service .active .desc {
  display: block;
}
.list-service .desc {
  display: none;
} */
.hero::after {
  content: "";
  background-image: url("https://i.ibb.co/4smrtQG/group-18.png");
  position: absolute;
  max-width: 250px;
  max-height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
.about::after {
  content: "";
  background-image: url("https://i.ibb.co/4smrtQG/group-18.png");
  position: absolute;
  max-width: 200px;
  max-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  filter: blur(4px);
}
.about::before {
  content: "";
  background-image: url("https://i.ibb.co/4smrtQG/group-18.png");
  filter: blur(4px);
  position: absolute;
  max-width: 200px;
  max-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  bottom: -50px;
  left: 0;
  z-index: -1;
  transform: rotateZ(90deg);
}
.step::before {
  content: "";
  background-image: url("https://i.ibb.co/4smrtQG/group-18.png");
  position: absolute;
  max-width: 200px;
  max-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  filter: blur(4px);
}

.card-portfolio {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  width: 100%;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: none !important;
  padding: 30px 40px 0 0;
}

.card-portfolio *,
.card-portfolio *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.card-portfolio img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  position: relative;
  object-fit: cover;
  height: 350px;
  object-position: left;
  vertical-align: top;
}

.card-portfolio figcaption {
  background-color: #333333;
  bottom: 30px;
  left: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.card-portfolio h3 {
  font-size: 16px;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  color: #fff;
  left: 100%;
  letter-spacing: 1px;
  margin: 12px 0;
  opacity: 0.8;
  padding: 6px 40px 0 0;
  right: 0;
  text-transform: uppercase;
  top: 0;
  white-space: nowrap;
}

.card-portfolio a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-portfolio:hover figcaption,
.card-portfolio.hover figcaption {
  background-color: #0c4237;
}
.contact .box::after {
  content: "";
  background-image: url("https://i.ibb.co/4smrtQG/group-18.png");
  position: absolute;
  max-width: 145px;
  max-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  filter: blur(4px);
}
.contact .box::before {
  content: "";
  background-image: url("https://i.ibb.co/4smrtQG/group-18.png");
  filter: blur(4px);
  position: absolute;
  max-width: 145px;
  max-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  bottom: -27px;
  left: 0;
  z-index: -1;
  transform: rotateZ(90deg);
}
